.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.modal {
    padding: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;

    button {
        height: 30px;
        width: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
    }
}